name: Deploy

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - name: Update wrangler.toml
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        run: |
          sed -i 's/CF_ACCOUNT_ID/'"$CF_ACCOUNT_ID"'/' wrangler.toml
          
      - name: Build
        run: |
          npm run build
      
      - name: Publish Worker
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
